asgiref==3.11.0 ; python_version >= "3.12"
async-signals==0.3.1 ; python_version >= "3.12"
attrs==25.4.0 ; python_version >= "3.12"
autobahn==25.11.1 ; python_version >= "3.12"
automat==25.4.16 ; python_version >= "3.12"
beautifulsoup4==4.14.3 ; python_version >= "3.12"
bs4==0.0.2 ; python_version >= "3.12"
cbor2==5.7.1 ; python_version >= "3.12"
certifi==2025.11.12 ; python_version >= "3.12"
cffi==2.0.0 ; python_version >= "3.12" and platform_python_implementation != "PyPy"
channels-envelope==1.1.0 ; python_version >= "3.12"
channels-redis==4.3.0 ; python_version >= "3.12"
channels==4.3.2 ; python_version >= "3.12"
charset-normalizer==3.4.4 ; python_version >= "3.12"
click==8.3.1 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
constantly==23.10.4 ; python_version >= "3.12"
croniter==6.0.0 ; python_version >= "3.12"
crontab==1.0.5 ; python_version >= "3.12"
cryptography==46.0.3 ; python_version >= "3.12"
daphne==4.2.1 ; python_version >= "3.12"
django-auditlog==3.3.0 ; python_version >= "3.12"
django-cors-headers==4.9.0 ; python_version >= "3.12"
django-filter==25.2 ; python_version >= "3.12"
django-fsm-admin-django-4==1.2.7 ; python_version >= "3.12"
django-fsm==2.8.2 ; python_version >= "3.12"
django-model-utils==5.0.0 ; python_version >= "3.12"
django-rq==3.2.1 ; python_version >= "3.12"
django-sql-utils==0.7.0 ; python_version >= "3.12"
django==5.2.8 ; python_version >= "3.12"
djangorestframework==3.16.1 ; python_version >= "3.12"
dnspython==2.8.0 ; python_version >= "3.12"
email-validator==2.3.0 ; python_version >= "3.12"
freezegun==1.5.5 ; python_version >= "3.12"
hyperlink==21.0.0 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
incremental==24.11.0 ; python_version >= "3.12"
lxml==6.0.2 ; python_version >= "3.12"
msgpack==1.1.2 ; python_version >= "3.12"
nh3==0.3.2 ; python_version >= "3.12"
oauthlib==3.3.1 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
personnummer==3.2.1 ; python_version >= "3.12"
psycopg-binary==3.2.13 ; python_version >= "3.12" and implementation_name != "pypy"
psycopg==3.2.13 ; python_version >= "3.12"
py-ubjson==0.16.1 ; python_version >= "3.12"
pyasn1-modules==0.4.2 ; python_version >= "3.12"
pyasn1==0.6.1 ; python_version >= "3.12"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version >= "3.12"
pydantic==1.10.24 ; python_version >= "3.12"
pymemcache==4.0.0 ; python_version >= "3.12"
pyopenssl==25.3.0 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-graph-core==1.8.2 ; python_version >= "3.12"
python-json-logger==4.0.0 ; python_version >= "3.12"
python3-vote-core==20170329.0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
pyyaml==6.0.3 ; python_version >= "3.12"
redis==7.1.0 ; python_version >= "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.12"
requests==2.32.5 ; python_version >= "3.12"
rq-scheduler==0.14.0 ; python_version >= "3.12"
rq==2.6.1 ; python_version >= "3.12"
rules==3.5 ; python_version >= "3.12"
sentry-sdk==2.46.0 ; python_version >= "3.12"
service-identity==24.2.0 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
slack-logger==0.3.1 ; python_version >= "3.12"
soupsieve==2.8 ; python_version >= "3.12"
sqlparse==0.5.4 ; python_version >= "3.12"
stvpoll==0.4.7 ; python_version >= "3.12"
tarjan==0.2.4 ; python_version >= "3.12"
twisted==25.5.0 ; python_version >= "3.12"
txaio==25.9.2 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
u-msgpack-python==2.8.0 ; python_version >= "3.12" and platform_python_implementation != "CPython"
ujson==5.11.0 ; python_version >= "3.12"
urllib3==2.5.0 ; python_version >= "3.12"
zope-interface==8.1.1 ; python_version >= "3.12"
