https://github.com/VoteIT/channels_envelope/archive/refs/heads/main.zip
https://github.com/VoteIT/dj_dolly/archive/refs/heads/main.zip
-e .[testing]
psycopg2-binary>=2.9.6
# "Manual" requirements go here - stuff that isn't mentioned in any other requirement
# This file is only used when building the freeze-img
pydantic<2
black
